@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-lato: Lato;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
}
